{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for row in data.rows %}
        <tr>
            <td>{{ row.symbol }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.shares }}</td>
            <td>{{ row.price | usd}}</td>
            <td>{{ row.total | usd}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ data.cash | usd}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ data.balance | usd}}</td>
        </tr>
    </table>
{% endblock %}